/* GENERAL */
body {
    background-color:#fef5f4;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #E27396;
}


/* LOGO */
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

img {
    width: 30%;
}


/* ABOUT */
.aboutButton {
    /* appearance */
    background-image: url(../logos/terraSmallLogo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    /* position */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.aboutOverlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9998;
    width: 300px;
    height: 100%;
    background-color: #E27396;
    opacity: 0.9;
    color: white;
    padding: 20px;
}

.aboutOverlay .title {
    font-family: "Dela Gothic One"; 
}

.aboutContent {
    padding-top: 40px;  
}


/*MAP LABEL */
.mapLabel {
    width: 100%;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 60px;
    /* color: #E27396; */
}

.select {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: -20px;
}

.select select {
    font-family: 'Arial';
    text-align: center;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 100px;
    background: #E27396;
    color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 150px; /* Increased width for bigger button */
    height: 50px; /* Adjusted height to accommodate variable text length */
    font-size: 15px; /* Increased font size */
    line-height: 3; /* Set line height for better readability */
}

