/* GENERAL */
body {
    background-color:#fef5f4;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #E27396;
}


/* LOGO */
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

img {
    width: 30%;
}


/* ABOUT */
.aboutButton {
    /* appearance */
    background-image: url(../logos/terraSmallLogo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    /* position */
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    position: absolute;
}

.aboutOverlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9998;
    width: 300px;
    height: 100%;
    background-color: #E27396;
    opacity: 0.9;
    color: white;
    padding: 20px;
}

.aboutOverlay .title {
    font-family: "Dela Gothic One"; 
}

.aboutContent {
    padding-top: 40px;  
}


/*MAP LABEL */
.mapLabel {
    width: 100%;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 60px;
    /* color: #E27396; */
}

.select {
    position: relative; /* Ensure relative positioning for absolute positioning of arrow */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.select select {
    font-family: 'Arial';
    text-align: center;
    cursor: pointer;
    padding: 15px ; /* Added padding on the right side to accommodate the arrow */
    outline: 0;
    border: 0;
    border-radius: 100px;
    background: #E27396;
    color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10%;
    height: 10%;
    text-align-last: center;
}

/* Style the dropdown arrow */
.select_arrow {
    content: "\25BC"; /* Unicode `character for down arrow */
    top: calc(50% - 6px); /* Adjust position of arrow vertically */
    font-size: 12px; /* Adjust size of arrow */
    pointer-events: none;
    color: #000000; /* Match the color of the arrow with the select background */
    z-index: 9999;
}
